@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,600,700');
@font-face {
  font-family: 'Dillydallier';
  src: URL('./fonts/Dillydallier.otf') format('opentype');
}
@font-face {
  font-family: 'Simplicity';
  src: URL('./fonts/ec-simplicity.ttf') format('truetype');
}

.landing_page {
  background-image: url("background-image.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login-wrapper {
  margin: auto;
  width: auto%;
  text-align: center;

}

.logo {
  font-size: 5em;
  color: #0213d6;
  font-family: 'Simplicity';
}

.form-wrapper {
  margin: auto;
  width:  auto;
  position: relative;
}

.form-create {
  margin-left: 1%;
  postion: relative;
  font-family: 'Exo';
  color: white;
}

input[type="text"] {
  border-radius: 7px;
  border-style: none;
  padding: 5px;
}
input[type="password"] {
  border-radius: 7px;
  border-style: none;
  padding: 5px;
}

input[type="submit"] {
  background-color: #0213d6;
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 8px;
}

textarea {
  border-radius: 7px;
  border-style: none;
  padding: 50px;
}

button {
  background-color: #0213d6;
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 8px;
}

.login-wrapper a:link, .login-wrapper a:visited, .login-wrapper a:hover, .login-wrapper a:active {
  color: black;
  text-decoration: none;
  font-family: 'Helvetica';
}



.button-wrapper {
  margin: auto;
  width:  auto;
  position: relative;
}

/* h1 {
  font-size: 4em;
  font-family: 'Dillydallier';
  color: black;
} */

h3 {
  /* font-family: 'Exo';
  font-size: 1.4em;
  color: rgb(110,47,56);
  letter-spacing: 1px; */
}

h4 {
  /* font-family: 'Alfa Slab One', cursive;
  letter-spacing: 3px; */
}

.title-bar {
  background-color: rgb(163, 159, 168);
  position: absolute;
  top: 0;
  width: 100%;
  margin: -10px;
  padding-right: 18px;
}

.title-bar-right-align {
  background-color: rgb(163, 159, 168);
  position: absolute;
  top: 0;
  width: 100%;
  margin: -10px;
  padding-right: 18px;
  text-align: right;
}
/*
.panel {
  position: absolute;
  border-radius: 25px 0px 0px 25px;
  top: 165px;
  bottom: 10px;
  left: 0;
  right: 0;
  background: rgba(110, 47, 56, 0.4);
  color: #eee;
  overflow: auto;
  padding: 1em;
}

.panel-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30em;
  transform: translateX(100%);
  transition: .5s ease-in-out;
}

[type="checkbox"]:checked ~ .panel-wrap {
  transform: translateX(0%);
}

#clicker {
  text-align: right;
}

input#clicker {
  display: none;
} */
/* span {
padding: 20px;
font-family: sans-serif;
: right;
} */

img {
  max-width: 100%;
  max-height: 100%;
}

.img-box {
  /* position: relative; */
  height: 350px;
  width: 100%;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#panel-text {
  /* color: white;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 0.85em; */
}

.attribute-panel {
  /* background-color: rgb(209, 213, 221);
  float: left;
  margin: 0; */
}

.sm-underline-box {
  /* border-bottom: 1px solid;
  border-color: rgba(163, 159, 168, 0.3); */
}

.attribute-panel p {
  /* color: rgb(163, 159, 168); */
  /* font-family: 'Allerta Stencil', sans-serif;
  font-size: 1.25em;
  padding-bottom: 50px; */
}

.page-content {
  /* position: absolute;
  top: 157px;
  left: 0px; */
}

.sign-up-page-wrapper {
  z-index: -1;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.background-img {
  background-image: url("barbell.jpg");
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-page {
  background-color: #3e5253;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 2%;
}


.login-status {
  float: right;
  margin-right: 7%;
  font-family: "Exo";

}

.login-status#this {
  margin-right: 7%;
}

.login-status a:visited, .login-status a:hover, .login-status a:active {
  color: white;
}

.workout-box {
  border-radius: 7px;
  border-style: none;
  padding: 10px;
  background-color: #e0e0da;
  width: 50%;
  margin-left: 1%;
  font-family: 'Exo';
  font-size: 1em;
  margin-bottom: 1%;
}

.button-profile-page {
  position: relative;
  left: 25px;
  margin-bottom: 1%;
  marg
}

.profile-title {
  font-size: 1.5em;
  font-family: "Exo", bold;
}

.profile-title#workout {
  float: top;
}
.form-create input[type="submit"] {
  margin-top: 1%;
  background-color: #0213d6;
  color: white;
  border-radius: 7px;
  border-style: none;
  padding: 8px;
}

.workout-details {
  color: white;
  font-family: "Exo";
  margin-left: 1%;
  float: clear;
}

#links-somewhere a:link, #links-somewhere a:active, #links-somewhere a:hover, #links-somewhere a:visited {
  text-decoration: none;
  color: black;
  margin-left: 1%;

}

.exercise-page {
  font-family: "Exo";
  color: white;
  background-color: #3e5253;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow: auto;
  margin-left: 2%;
}

.exercise-box {
  /* width: 50%;
  height: 500px; */
}

#edit {
  margin-left: 1%;
}

footer {
  background-color: #0213d6;
  width: 100%;
  height: 3%;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: 'Simplicity';
  padding: 1%;
}

.exercise-entire-box {
  position: relative;
  padding-bottom: : 25%;
  width: 100%;
  height: 70%;
  overflow: auto;
}

.workout-show-page-box {
  position: relative;
  padding-bottom: : 25%;
  width: 100%;
  height: 49%;
  overflow: auto;

}

/* blue1 231, 235, 240
blue2 209, 213, 221
blue3 163, 159, 168
darkgrey 47, 51, 54
red 110, 47, 56
beige 207, 197, 192 */
