
<h1>Exercise Directory</h1>

<h2>Push Exercises</h2>
<ul>
<% @push.each do |exercise| %>
  <li><%= link_to exercise.name, exercise %></li>
<% end %>
</ul>
<br><br>

<h2>Pull Exercises</h2>
<ul>
<% @pull.each do |exercise| %>
  <li><%= link_to exercise.name, exercise %></li>
<% end %>
</ul>
<br><br>

<h2>Leg Exercises</h2>
<ul>
<% @legs.each do |exercise| %>
  <li><%= link_to exercise.name, exercise %></li>
<% end %>
</ul>
